<div class="row">
    <h1>{{ data.name }}</h1>
    <hr>
    <h2>Age</h2>
    {{ data.age }}
    <h2>Alignment</h2>
    {{ data.alignment }}
    <h2>Size</h2>
    {{ data.size_description }}
    <h2>Speed</h2>
    Your base walking speed is {{ data.speed }} feet.
    <h2>Languages</h2>
    {{ data.language_desc }}
    <h2>Ability Scores</h2>
    <p *ngFor="let bonus of bonuses">{{ bonus.ability_score.name }}: +{{ bonus.bonus }}</p>
    <h2>Proficiencies</h2>
    <p *ngFor="let prof of proficiencies">{{ prof.name }}</p>
    <div *ngIf="data.starting_proficiency_options">
    <h4>Optional Proficiencies</h4>
    <p>Choose {{ data.starting_proficiency_options.choose }}</p>
    <p *ngFor="let option of proficiency_options">{{ option.name }}</p>
    </div>
    <h2>Traits</h2>
    <p *ngFor="let trait of traits">{{ trait.name }}</p>
    <!-- <p *ngIf="this.traits === []">No Additional Traits</p> -->
    <!-- Trying to figure out logic to show when there are no traits -->
</div>
