<div class="row">
    <img src="https://media.giphy.com/media/tKjcRT18kkfdNOY6Sr/giphy.gif" alt="dice" style="width: 20rem;height: 20rem;">
</div>
<form [formGroup]="diceForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="die">
            <img src="../assets/images/d4.png">
            <input
            type="number"
            id="d4"
            formControlName="d4"
            value=0>
        </div>
        <div class="die">
            <img src="../assets/images/d6.png">
            <input
            type="number"
            id="d6"
            formControlName="d6"
            value=0>
        </div>
        <div class="die">
            <img src="../assets/images/d8.png">
            <input
            type="number"
            id="d8"
            formControlName="d8"
            value=0>
        </div>
        <div class="die">
            <img src="../assets/images/d10.png">
            <input
            type="number"
            id="d10"
            formControlName="d10"
            value=0>
        </div>
        <div class="die">
            <img src="../assets/images/d12.png">
            <input
            type="number"
            id="d12"
            formControlName="d12"
            value=0>
        </div>
        <div class="die">
            <img src="../assets/images/d20.png">
            <input
            type="number"
            id="d20"
            formControlName="d20"
            value=0>
        </div>
    </div>
    <div class="row">
        <button
        type="submit">Roll</button>
    </div>
</form>
<div *ngIf="rolling" class="row">
    <img src="https://media1.tenor.com/images/91f3f3ae66c32b2ba435666145a9552f/tenor.gif?itemid=19802269" alt="dice" style="width: 80%; height: 10%; border: 2px solid black;">
</div>
<div *ngIf="!rolling" class="row">
    {{ stringresults }}
</div>
<div *ngIf="!rolling" class="row">
    {{ results }}
</div>