<div class="row">
    <div class="col-xs-12">
        <img
        [src]="character.imagePath"
        alt="{{ character.name }}"
        class="img-responsive"
        style="max-height: 300px">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ character.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ character.race }}, {{ character.subjob }} {{ character.job }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div
        class="btn-group"
        appDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle">Manage Character <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a style="cursor: pointer;" (click)="onEditCharacter()">Edit Character</a></li>
                <li><a style="cursor: pointer;" (click)="onDeleteCharacter()">Delete Character</a></li>
            </ul>
        </div>
    </div>
</div>