<div class="row">
    <div class="col-xs-12">
        <img
        [src]="character.imagePath"
        alt="{{ character.name }}"
        class="img-responsive"
        style="max-height: 300px">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ character.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ character.race }}, {{ character.subjob }} {{ character.job }}
    </div>
</div>
<!-- MANAGE BUTTON -->
<div class="row">
    <div class="col-xs-12">
        <div
        class="btn-group"
        appDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle">Manage Character <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a style="cursor: pointer;" (click)="onEditCharacter()">Edit Character</a></li>
                <li><a style="cursor: pointer;" (click)="onDeleteCharacter()">Delete Character</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- IMPORTANT INFO -->
<h4>Important Info</h4>
<div class="row">
    <div class="col-xs-4">
        HP: 20
    </div>
    <div class="col-xs-4">
        Proficieny Bonus: +2
    </div>
    <div class="col-xs-4">
        Level: 5
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        AC: 15
    </div>
    <div class="col-xs-4">
        Spell DC: 10
    </div>
    <div class="col-xs-4">
        Initiative: +3
    </div>
</div>
<!-- STAT ROWS -->
<h4>Ability Scores</h4>
<div class="row">
    <div class="col-xs-4">
        STR: 10 (+0)
    </div>
    <div class="col-xs-4">
        DEX: 10 (+0)
    </div>
    <div class="col-xs-4">
        CON: 10 (+0)
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        INT: 10 (+0)
    </div>
    <div class="col-xs-4">
        WIS: 10 (+0)
    </div>
    <div class="col-xs-4">
        CHA: 10 (+0)
    </div>
</div>
<!-- SAVING THROWS -->
<h4>Saving Throws</h4>
<!-- score equals ability mod + prof bonus if prof -->
<div class="row">
    <div class="col-xs-6">
        STR: +5
    </div>
    <div class="col-xs-6">
        INT: +5
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        DEX: +5
    </div>
    <div class="col-xs-6">
        WIS: +5
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        CON: +5
    </div>
    <div class="col-xs-6">
        CHA: +5
    </div>
</div>
<!-- Senses -->
<h4>Senses</h4>
<div class="row">
    <div class="col-xs-12">
        Passive WIS(Perception): 10
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Passive INT(Investigation): 10
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Passive WIS(Insight): 10
    </div>
</div>
<!-- ITEMS -->
<h4>Items</h4>
<div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let item of character.items">
          {{ item.name }} - {{ item.weight }}
        </li>
      </ul>
    </div>
  </div>