<div class="row">
    <h1>{{ data.name }}</h1>
    <i>{{ data.size }} {{ data.type }}, {{ data.alignment }}</i>
    <hr>
    <div><b>Armor Class</b> {{ data.armor_class }}</div>
    <div><b>Hit Points</b> {{ data.hit_points }} ({{ data.hit_dice }})</div>
    <div style="display: flex;">
        <b>Speed</b>
        <div *ngFor="let item of speed | keyvalue"><b style="color: white;">_</b>{{item.key}} {{item.value}}</div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-4">
            STR: {{ data.strength }} ({{STR}})
        </div>
        <div class="col-xs-4">
            DEX: {{ data.dexterity }} ({{DEX}})
        </div>
        <div class="col-xs-4">
            CON: {{ data.constitution }} ({{CON}})
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            INT: {{ data.intelligence }} ({{INT}})
        </div>
        <div class="col-xs-4">
            WIS: {{ data.wisdom }} ({{WIS}})
        </div>
        <div class="col-xs-4">
            CHA: {{ data.charisma }} ({{CHA}})
        </div>
    </div>
    <hr>
    <div>
        <b>Saving Throws/ Skills</b>
        <div *ngFor="let prof of proficiencies">{{ prof.proficiency.name }} +{{ prof.value }}</div>
    </div>
    <div style="display: flex;">
        <b>Senses</b>
        <div *ngFor="let item of senses | keyvalue"><b style="color: white;">_</b>{{item.key.split("_").join(" ")}} {{item.value}}</div>
    </div>
    <div><b>Languages</b> {{ data.languages }}</div>
    <div><b>Challenge Rating</b> {{ data.challenge_rating }}</div>
    <hr>
</div>
