<div class="row">
    <h1>{{ data.name }}</h1>
    <p><i>{{ data.equipment_category.name }}</i></p>
    <div *ngIf="isWeapon">
        <hr>
        <p><strong>Attack Type </strong>{{ data.category_range }}</p>
        <p><strong>Reach </strong>{{ data.range.normal }} {{ data.range.long }} ft.</p>
        <p><strong>Damage </strong>{{ data.damage.damage_dice }}</p>
        <p><strong>Damage Type </strong>{{ data.damage.damage_type.name }}</p>
        <p></p>
        <strong>Properties </strong><div *ngFor="let prop of data.properties">{{ prop.name }}</div>
        <p></p>
    </div>
    <div *ngIf="isArmor">
        <hr>
        <p><strong>Armor Category </strong>{{ data.armor_category }}</p>
        <p><strong>Armor Class </strong>{{ data.armor_class.base }}</p>
        <div *ngIf="data.armor_class.dex_bonus">
            <i>+ DEX</i>
        </div>
        <div *ngIf="data.armor_class.max_bonus">
            <i>(Max DEX Bonus {{ data.armor_class.max_bonus }})</i>
        </div>
        <div *ngIf="data.stealth_disadvantage">
            <p></p>
            <i>Stealth Disadvantage</i>
        </div>
        <div *ngIf="data.str_minimum > 0">
            <p></p>
            <strong>STR Minimum </strong>{{ data.str_minimum }}
        </div>
    </div>
    <div *ngIf="isEquipmentPack">
        <p><i>{{ data.gear_category.name }}</i></p>
        <hr>
        <div *ngFor="let content of data.contents">
            {{ content.quantity }} {{ content.item.name }}
        </div>
    </div>
    <div *ngIf="isTool">
        Tool
    </div>
    <div *ngIf="isMountsAndVehicles">
        Mounts and Vehicle
    </div>
    <div *ngIf="isHolySymbol">
        Holy Symbol
    </div>
    <div *ngIf="isDruidicFoci">
        Druidic Foci
    </div>
    <div *ngIf="isArcaneFoci">
        Arcane Foci
    </div>
    <div *ngIf="isAmmunition">
        Ammunition
    </div>
    <p></p>
    <p><strong>Weight </strong>{{ data.weight }} lbs</p>
    <p><strong>Cost </strong>{{ data.cost.quantity }} {{ data.cost.unit }}</p>
</div>