<a
href="#"
class="list-group-item clearfix"
(click)="onSelected()">
    <div class="pull-left">
        <h4 class="list-group-item-heading">{{ character.name }}</h4>
        <p class="list-group-item-text">{{ character.race }}</p>
        <p class="list-group-item-text">{{ character.job }}</p>
        <p class="list-group-item-text">{{ character.subjob }}</p>
    </div>
    <!-- <span class="pull-right">
        <img
        src="{{ character.imagePath }}"
        alt="{{ character.name }}"
        class="img-responsive"
        style="max-height: 50px">
    </span> -->
</a>