<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="characterForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button
                    type="submit"
                    class="btn btn-success"
                    [disabled]="!characterForm.valid">Save</button>
                    <button
                    type="button"
                    class="btn btn-danger"
                    (click)="onCancel()">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input
                        type="text"
                        id="name"
                        formControlName="name"
                        class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="race">Race</label>
                        <input
                        type="text"
                        id="race"
                        formControlName="race"
                        class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="job">Job</label>
                        <input
                        type="text"
                        id="job"
                        formControlName="job"
                        class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="subjob">SubJob</label>
                        <input
                        type="text"
                        id="subjob"
                        formControlName="subjob"
                        class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imagePath">Image URL</label>
                        <input
                        type="text"
                        id="imagePath"
                        formControlName="imagePath"
                        class="form-control"
                        #imagePath>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img [src]="imagePath.value" class="img-responsive">
                </div>
            </div>
        </form>
    </div>
</div>