<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="characterForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button
                    type="submit"
                    class="btn btn-success"
                    [disabled]="!characterForm.valid">Save</button>
                    <button
                    type="button"
                    class="btn btn-danger"
                    (click)="onCancel()">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input
                        type="text"
                        id="name"
                        formControlName="name"
                        class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="race">Race</label>
                        <input
                        type="text"
                        id="race"
                        formControlName="race"
                        class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="job">Job</label>
                        <input
                        type="text"
                        id="job"
                        formControlName="job"
                        class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="subjob">SubJob</label>
                        <input
                        type="text"
                        id="subjob"
                        formControlName="subjob"
                        class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imagePath">Image URL</label>
                        <input
                        type="text"
                        id="imagePath"
                        formControlName="imagePath"
                        class="form-control"
                        #imagePath>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img [src]="imagePath.value" class="img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" formArrayName="items">
                    <div
                    class="row"
                    *ngFor="let itemCtrl of controls; let i = index"
                    [formGroupName]="i"
                    style="margin-top: 10px;">
                        <div class="col-xs-8">
                            <input
                            type="text"
                            class="form-control"
                            formControlName="name">
                        </div>
                        <div class="col-xs-2">
                            <input
                            type="number"
                            class="form-control"
                            formControlName="weight">
                        </div>
                        <div class="col-xs-2">
                            <button
                            type="button"
                            class="btn btn-danger"
                            (click)="onDeleteItem(i)">X</button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12">
                            <button
                            type="button"
                            class="btn btn-success"
                            (click)="onAddItem()">Add Item</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>