<div class="row">
    <div class="col-md-5">
        Dungeons & Dragons (commonly abbreviated as D&D or DnD) is a fantasy tabletop role-playing game (RPG) originally designed by Gary Gygax and Dave Arneson.
        It was first published in 1974 by Tactical Studies Rules, Inc. (TSR).
        It has been published by Wizards of the Coast (now a subsidiary of Hasbro) since 1997.
        The game was derived from miniature wargames, with a variation of the 1971 game Chainmail serving as the initial rule system.
        D&D's publication is commonly recognized as the beginning of modern role-playing games and the role-playing game industry.
        <hr>
        This application may be used as a compendium of D&D knowledge.
        Please feel free to login to create and edit characters.
        However, anyone is able to use the compendium features without logging in.
        ENJOY!!!
    </div>
    <div class="col-md-5">
        <img 
        src="http://www.clker.com/cliparts/0/6/a/c/13094902811190886609bronze%20dragon.jpg"
        alt="Dragon">
    </div>
</div>
<div class="row">
    <i>Created by Zachary Schulz</i>
</div>
